<h1 id="title">File Exchange Rooms:</h1>
<div id="fileExchangeMainBox">
    <input type="file" id="room1" onchange="changeImage(1)">
    <input type="file" id="room2" onchange="changeImage(2)">
    <input type="file" id="room3" onchange="changeImage(3)">
</div>
<div id="fileExchangeMainBox">
    <div style="margin-top: 20px; width: 30vw; height: 100px; font-family: Arial; font-size: 50px">Room 1<img id="room1image"></div>
    <div style="margin-top: 20px; width: 30vw; height: 100px; font-family: Arial; font-size: 50px">Room 2<img id="room2image"></div>
    <div style="margin-top: 20px; width: 30vw; height: 100px; font-family: Arial; font-size: 50px">Room 3<img id="room3image"></div>
</div>
<div id="fileExchangeMainBox">
    <div style="display: flex; width: 30vw; justify-content: center;"><input type="button" value="Enter Circle Room"></div>      
    <div style="display: flex; width: 30vw; justify-content: center;"><input type="button" value="Enter Triangle Room"></div>      
    <div style="display: flex; width: 30vw; justify-content: center;"><input type="button" value="Enter Square Room"></div>      
</div>
