#fileExchangeMainBox
{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
}

#title
{
    margin-top: 50px;
    margin-bottom: 37.5px;
    font-family: "Arial";
    font-weight: bold;
}