<!-- User: <input type="text" [(ngModel)]="usernameForm"> -->

<!-- User: <input type="text" class="form-control" id="name"
       required
       [(ngModel)]="usernameForm" name="name"> -->

<div class="address-user" *ngIf="username">
  <br>
  Hi {{username}}!
</div>

<br>
<form #usersForm="ngForm" (ngSubmit)="onSubmit(usersForm.value)">
  <label class="text">
    Enter your username:
    <input type="text" [(ngModel)]="name" name="Name" required>
  </label>
  <button class="button" type="submit">Submit</button>
</form>

<!-- <div *ngIf="userService.getUsername()">
  <p>Hello {{userService.getUsername()}}!</p>
</div> -->
<br>
<button class="button"(click)="toggleUsers()">See Users</button>
<table class="table" *ngIf="showUsers">
  <tr  class="list-user" *ngFor="let user of userList">
    <td>{{user}}</td>
  </tr>
</table>
<br>
<hr>
