<!-- User: <input type="text" [(ngModel)]="usernameForm"> -->

<!-- User: <input type="text" class="form-control" id="name"
       required
       [(ngModel)]="usernameForm" name="name"> -->

<form #usersForm="ngForm" (ngSubmit)="onSubmit(usersForm.value)">
  <label>
    Enter your username:
    <input type="text" [(ngModel)]="name" name="username" required>
  </label>
  <button type="submit">Submit</button>
</form>

<div *ngIf="userService.getUsername()">
  <p>Hello {{userService.getUsername()}}!</p>
</div>
<hr>
<p>Users</p>
<table class="table">
  <tr *ngFor="let user of userList">
    <td>{{user}}</td>
  </tr>
</table>