<div style="height: 100px; width: 900px; margin: 50px; display: flex; justify-content: flex-start; align-items: center; flex-wrap: wrap;">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/OneDrive_Folder_Icon.svg/480px-OneDrive_Folder_Icon.svg.png" style="width: 100px; height: 100px; margin-right: 12.5%;">
    <div style="font-family: 'San Francisco', Helvetica, Arial, san-serif; font-weight: bold; font-size: 20px; margin-right: 12.5%;">File name</div>
    <div style="font-family: 'San Francisco', Helvetica, Arial, san-serif; font-weight: bold; font-size: 20px; margin-right: 12.5%;">File size</div>
    <div style="font-family: 'San Francisco', Helvetica, Arial, san-serif; font-weight: bold; font-size: 20px; margin-right: 6%;">Time uploaded</div>
    <img src="https://cdn-icons-png.flaticon.com/512/69/69656.png" style="width: 50px; height: 50px; margin-right: 5%;">
</div>
