<div class="title">{{title}}</div>
<div class="subTitle">{{subTitle}}</div>

<app-username></app-username>
<div *ngIf="userService.getUsername()">
    <p>Hello {{userService.getUsername()}}!</p>
</div>

<!-- <body style=" height: 100vh; display: flex; justify-content: center; ">
<div id="screen"> --> <!--Fake body tag more or less-->
<!-- <app-circleroom> --> <!--Physical container of the file room-->
<!-- </app-circleroom> -->
<!-- <div style="background-color: blue; color: white; padding: 0.5rem; font-family: 'San Francisco', Helvetica, Arial, san-serif; font-weight: bold; font-size: 50px; border-radius: 0.3rem;">
    Upload
</div>
</div>
</body>  -->