#screen
{
    height: 100vh; 
    width: 1000px;
    display: flex; 
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    text-align: center;
}

.title {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
    font-family: A  rial, sans-serif;
    font-size: 60px;
    font-weight: bold;
    color:rgb(32, 55, 103);
 }

 
.subTitle {
    text-align: center;
    margin: auto;
    width: 50%;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
 }