<div class="title">{{title}}</div>
<div class="subTitle">{{subTitle}}</div>

<br>
<app-description-box></app-description-box>
<br>

<!-- debug code -->
<!-- <div class="address-user" *ngIf="userService.getDebug()">
  <p>Hello {{userService.getDebug()}}!</p>
</div> -->


<!-- Code here has working /getName request -->
<!-- <div class="address-user" *ngIf="userService.getUsername()">
  <p>Hello {{userService.getUsername()}}!</p>
</div> -->

<nav>
  <a class="button" routerLink="/home" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
    Home
  </a> |
  <a class="button" routerLink="/room-page-1" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
    Private Room: Circle
  </a> |
  <a class="button" routerLink="/room-page-2" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
    Private Room: Square
  </a> |
  <a class="button" routerLink="/room-page-3" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
    Private Room: Triangle
  </a>
</nav>
<router-outlet></router-outlet>


<!-- <div *ngIf="userService.getUsername()">
    <p>Hello {{userService.getUsername()}}!</p>
</div> -->

<!-- <body style=" height: 100vh; display: flex; justify-content: center; ">
<div id="screen"> --> <!--Fake body tag more or less-->
<!-- <app-circleroom> --> <!--Physical container of the file room-->
<!-- </app-circleroom> -->
<!-- <div style="background-color: blue; color: white; padding: 0.5rem; font-family: 'San Francisco', Helvetica, Arial, san-serif; font-weight: bold; font-size: 50px; border-radius: 0.3rem;">
    Upload
</div>
</div>
</body>  -->
