<div class="box">
    <table>
        <!--Header Row-->
        <tr>
           <th>File Name:</th>
           <th>Time Uploaded:</th>
           <th>File Size:</th>
        </tr>
       <!--Grabbed content from server to be generated through backend-->
       <tr>
         <td>Hey</td>
         <td>Hey</td>
         <td>Hey</td>
       </tr>
       <tr>
         <td>Hey</td>
         <td>Hey</td>
         <td>Hey</td>
       </tr>
       <tr>
         <td>Hey</td>
         <td>Hey</td>
         <td>Hey</td>
       </tr>
       <tr>
         <td>Hey</td>
         <td>Hey</td>
         <td>Hey</td>
       </tr>
       <tr>
         <td>Hey</td>
         <td>Hey</td>
         <td>Hey</td>
       </tr>
       <tr>
         <td>Hey</td>
         <td>Hey</td>
         <td>Hey</td>
       </tr>
       <tr>
         <td>Hey</td>
         <td>Hey</td>
         <td>Hey</td>
       </tr>
       <tr>
         <td>Hey</td>
         <td>Hey</td>
         <td>Hey</td>
       </tr>
       <tr>
         <td>Hey</td>
         <td>Hey</td>
         <td>Hey</td>
       </tr>
       <tr>
         <td>Hey</td>
         <td>Hey</td>
         <td>Hey</td>
       </tr>
       <tr>
         <td>Hey</td>
         <td>Hey</td>
         <td>Hey</td>
       </tr>
       <tr>
         <td>Hey</td>
         <td>Hey</td>
         <td>Hey</td>
       </tr>
       <tr>
         <td>Hey</td>
         <td>Hey</td>
         <td>Hey</td>
       </tr>
       <tr>
         <td>Hey</td>
         <td>Hey</td>
         <td>Hey</td>
       </tr>
       <tr>
         <td>Hey</td>
         <td>Hey</td>
         <td>Hey</td>
       </tr>
       <tr>
         <td>Hey</td>
         <td>Hey</td>
         <td>Hey</td>
       </tr>
       <tr>
         <td>Hey</td>
         <td>Hey</td>
         <td>Hey</td>
       </tr>
       <tr>
         <td>Hey</td>
         <td>Hey</td>
         <td>Hey</td>
       </tr>
    </table>
</div>
